# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build/Bin Folder
build
bin
build_rel
build_dbg

# VScode Dir
.vscode

# Mac
.DS_STORE

# Temporary files
*.swp
*~

# External libraries
external/*
sai2-simulation
resources